extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  .container
    div
      h1 ಠ_ಠ.... so you forgot your password eh?
      h2 Please type in your email, click send code, then enter the code and change your password
      .form-group
        label(for='username') Email
        input#username.form-control(type='email', placeholder='Email')
        
      button.btn.btn-default#phoneCode Send Code
      .form-group
        label(for='username') Code
        input#code.form-control(type='text', placeholder='111111')
        label(for='pw1') New Password
        input#pw1.form-control(type='password', placeholder='Password')
      .form-group
        label(for='pw2') Confirm New Password
        input#pw2.form-control(type='password', placeholder='Password (again)')
      button.btn.btn-default#changePass Send Code
      br
    
block js
  script(src='js/forgot.js')
