extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  .container
    div
      .form-group
        label(for='username') Email
        input#username.form-control(type='email', placeholder='Email')
      .form-group
        label(for='pw') Password
        input#pw.form-control(type='password', placeholder='Password')
      button.btn.btn-default#login Login
      br
      a(href="/forgotpassword") Forgot your password?
block js
  script(src='js/login.js')
